

main {
	margin: 0 auto;
	max-width: 90%;
  padding: 50px 30px;
}
:root {
  --light:white;
}

* {
  box-sizing: content-box;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 100;
  line-height: 1.5;
  font-size: 25px;
}



p {
  margin-top: 0;
  text-align: center;
}

a {
  color: var(--tertiary);
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

header a {
  color: white;
}

img {
  max-width: 100%;
}

#avatar {
  max-height:500px;
  border-radius: 75px;
  align-content: left;
  }

form {
  width: 40%;
}

.nav-font {
  font-family: URW Chancery L, cursive;
  font-size: 1.5em;
}

.top-title {
  font-family: URW Chancery L, cursive;
  margin-top: 20px;
}

.navbar-nav > li{
  margin-left:200px;
  margin-right:50px;
}

nav a:hover {
  text-decoration: none;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.wrapper {
  padding-top: 50px;
  justify-content: space-around;
  height: 100%;
  display: flex;
  overflow: auto;
  flex-flow: row wrap;
  padding: 10px;
  align-content: flex-start;
}

.card {
  height: 300px;
  margin: 10px;
  position: relative;
  width: 500px;
  box-shadow: 0 2px 2px green, 0 6px 12px green;
}

.card .img-container {
  height: 75%;
  overflow: hidden;
  text-align: center;
  background-color: rgb(236, 253, 236);
}

.card .img-container img {
  width: 100%;
  padding: 10px;
}

.card .content {
  font-size: 18px;
  text-align: center;
}

.card-title{
  margin-top: 10px;
  font-weight: bold;
  color: darkgreen;
}

.project-icon {
  padding: 5px;
}

.topics {
  font-size: small;
  font-style: italic;
}

.footer { 
  display: flex; 
  align-items: center; 
  justify-content: center; 
} 

.icon {
  padding: 5px;
}